/site/.htaccess
/site/composer.lock
/site/vendor
jmeter.log
/bundle/
/site/files/
/site/img/design/
/target/
/*/target/
/*/*/target/
nbactions.xml
dependency-reduced-pom.xml
.idea/
*.iml
.directory
eg_globals.xml
*~
.classpath
.project
.settings/
upload