/site/.htaccess
/site/composer.lock
/site/vendor
jmeter.log
/bundle/
/site/files/
/site/img/design/
/site/dat/stats/
/target/
/**/target/
nbactions.xml
dependency-reduced-pom.xml
.idea/
*.iml
.directory
*~
.classpath
.project
.settings/
upload
